@import _mixins

smallButtons()
stackedForms()
roundPicture()
formLinks()

.campsi-login
  padding 10px
  display inline-block
  text-align center
  width 100%
  h1
    display none

  h2
    font-size: 18px