@import "_mixins"

modal(rgba(#000, .2), url(https://campsi.imgix.net/56261291c0e9425a0b9404d8-H1Z5b7nzx.png?w=500), rgba(white, .7))

.campsi-login
  filter: drop-shadow(0 3px 20px rgba(black, .7));
  width 500px
  height 364px
  a
    text-decoration none
  input
    width 400px
    background rgba(black, .2)
    border 1px solid rgba(black, .5)
    border-radius 2px

  h1
    text-align center

  .close
    right -30px
    top -30px

  .links
    font-size .8em
    position absolute
    bottom 30px;
    right 0;
    a
      background rgba(black, .2)
      padding 10px
      margin 0 10px