@import "modal"
@import "bigButtons.styl"

flatModal($themeColor, $textColor)
  modal(transparent, $themeColor, $textColor)
  bigButtons(10px)
  .campsi-login
    //overflow hidden
    .fx
      position absolute
      top 0;
      left 0;
      overflow hidden
      width 100%
      height 100%
      z-index -1
    .fx:before
      content ''
      transform rotate(25deg)
      background lighten($themeColor, 3)
      height 1000px
      width 500px
      top -100px
      left 100px
      position absolute
      z-index -1

    .links,.buttons
      background rgba($textColor, .6)
      a
        color $themeColor
