.campsi-login-wrapper
  backface-visibility hidden
  transform: translate3D(0, 0, 0);

  .campsi-login
    backface-visibility hidden


  p, h1, h2, h3, div, input, select
    box-sizing border-box

  p, h1, h2, h3
    margin 0
    padding 0