roundPicture($radius = 100px)
  .campsi-login
    .pictureWrapper
      display inline-block
      width $radius
      height $radius
      border-radius $radius
      overflow hidden
      img
        width 100%